
<!-- send a path back to the controller "get" or "post" -->
<div class="container">
<h1>This is the main login page</h1>
<p>=============================</p>
<p><a href="/sessions"><button>Log In</button></a></p>
<p><a href="/users"><button>Sign Up</button></a></p>
<p>=============================</p>

</div>
